{% extends "base_layout.html" %}

{% block content %}
    {% if user.is_valid %}
    <div class="container">
	
		<div class="row">
			<div class="col 12">
				<h1>chat</h1>
			</div>
		</div>
		
		<!--Conversación: Aquí viene toda la conversación-->
		<div class="row" id="conversacion"></div>
		
		<!--Formulario-->
		<div class="row">
			<form action="" class="col s12" id="formulario">
				<div class="row">					
					<input type="text" name="texto" placeholder="texto" required>
					<input type="hidden" name="nombre" value="{{nombre}}">
					<button class="btn waves-effect waves-light" type="submit">
						Enviar
						<i class="material-icons right">send</i>
					</button>					
				</div>
			</form>
		</div>
		
	</div>
    {% else %}

    {% endif %}
{% endblock %}