{% extends 'base_layout.html' %}
{% block title %}
Articles
{% endblock title %}

{% block content %}
    <div class="jumbotron container" style="padding: 0%;">
        <h1 class="my-4">Lista de Post
            <small>Seccion de articulos y temas</small>
        </h1>
        <form action="{% url 'articles:buscar' %}">
            {% csrf_token %}  
            <input name="q" value="{{request.GET.q}}" class="form-control input-lg" placeholder="buscar..">
            <button class="btn btn-primary input-lg col-xs-2 col-sm-1" type="submit">
                Buscar
            </button>
        </form>
        <br>
        <br>
        
         <div class="container">     
            {% for item in items %}
                {% if forloop.counter %}
                    <div class="row">
                        <div class="col-md-7" style="max-height: 150px; overflow: hidden;">
                            <a href="{% url 'articles:detail' slug=item.slug %}">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ item.thumb.url }}" alt="" style="max-width: 100%; width: 100%;">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h3><b>{{item.title}}</b></h3>
                            <p>{{item.snippet}}</p>
                            <footer>by {{item.author.username}}, {{item.date}}</footer>
                            <a class="btn btn-primary" href="{% url 'articles:detail' slug=item.slug %}">Ver Post</a>
                        </div>
                    </div>  
                {% endif %}
            {% endfor %}
            {% include "paginacion.html" %}
        </div>
  
        <!-- <div class="text-center ">
        {% for item in items %}
            {% if forloop.counter %}
                <h2><a href="{% url 'articles:detail' slug=item.slug %}">{{item.title}}</a></h2>
                <p>by {{item.author.username}}</p>
                <p>{{item.snippet}}</p>
                <p>{{item.date}}</p>
            {% endif %}
        {% endfor %}
        {% include "paginacion.html" %}
        </div> -->
    </div>
    
{% endblock %}