{% extends 'base_layout.html' %}
{% block title %}
Articulo
{% endblock title %}
{% block content %}
    <div style="max-height: 450px; overflow: hidden;">
    <img src="{{ article.thumb.url }}" style="max-width: 100%; width: 100%;"/>
    </div>
    <div class="container">
        <div class="article">
            <h2 class="text-center">{{article.title}}</h2>
            <p class="container">{{article.body}}</p>
            <footer>{{article.date}}</footer>
        </div>
    </div>

{% endblock %}