{% extends 'base_layout.html' %}
{% block title %}
Articles
{% endblock title %}

{% block content %}
    <div class="jumbotron container" style="padding: 0%;">
        <h1 class="text-center">Lista de Post</h1>
        
        <form action="{% url 'articles:buscar' %}">
            {% csrf_token %}  
            <input name="q" value="{{request.GET.q}}" class="form-control input-lg" placeholder="buscar..">
            <button class="btn btn-primary input-lg col-xs-2 col-sm-1" type="submit">
                Buscar
            </button>
        </form>
        <br>
        <div class="text-center ">
        {% for item in items %}
            {% if forloop.counter %}
                <h2><a href="{% url 'articles:detail' slug=item.slug %}">{{item.title}}</a></h2>
                <p>by {{item.author.username}}</p>
                <p>{{item.snippet}}</p>
                <p>{{item.date}}</p>
            {% endif %}
        {% endfor %}
        {% include "paginacion.html" %}
        </div>
    </div>
    
{% endblock %}