{% extends "base_layout.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="create-article container row">
    <div class="col-md-4 col-md-offset-4">
        <form action="{% url 'articles:create' %}" class="site-form " method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Crea un nuevo Articulo.</h2>

            <label for="{{ form.articles.title }}" class="sr-only">Titulo</label> 
            {{ form.title |attr:"placeholder:Titulo" |add_class:"form-control" }}

            <label for="{{ form.articles.body }}" class="sr-only">Cuerpo</label> 
            {{ form.body |attr:"placeholder:Cuerpo" |add_class:"form-control" }}

            <label for="{{ form.articles.thumb }}" class="sr-only"></label> 
            {{ form.thumb |add_class:"form-control" }}
            
            <input class="btn btn-primary btn-block" type="submit" value="Crear">
        </form>
    </div>
</div>
{% endblock %}